{% extends 'base.html' %}
{% block content %}
<header>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}" style="text-decoration: none; color: #223d77;">AFINA</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'income_category_list' %}">Категории доходов</a></li>
            <li><a href="{% url 'expense_category_list' %}">Категории расходов</a></li>
            <li><a href="#">Копилка</a></li>
            <li><a href="#">Подписка</a></li>
            <li><a href="#">Статистика</a></li>
        </ul>
    </nav>
</header>

<h2>{{ title }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-success">Сохранить</button>
  <a href="{% url 'expense_category_list' %}" class="btn btn-secondary">Назад</a>
</form>
{% endblock %}
