{% extends 'base.html' %}
{% block content %}
<header>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}" style="text-decoration: none; color: #223d77;">AFINA</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'income_category_list' %}">Категории доходов</a></li>
            <li><a href="{% url 'expense_category_list' %}">Категории расходов</a></li>
            <li><a href="#">Копилка</a></li>
            <li><a href="#">Подписка</a></li>
            <li><a href="#">Статистика</a></li>
        </ul>
    </nav>
</header>

<h2>Категории расходов</h2>

<a href="{% url 'expense_category_create' %}" class="btn btn-primary mb-3">Добавить категорию</a>

<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Название</th><th>Действия</th></tr>
  </thead>
  <tbody>
  {% for c in categories %}
    <tr>
      <td>{{ c.id }}</td>
      <td>{{ c.expenseName }}</td>
      <td>
        <a href="{% url 'expense_category_update' c.id %}" class="btn btn-sm btn-warning">Изменить</a>
        <a href="{% url 'expense_category_delete' c.id %}" class="btn btn-sm btn-danger">Удалить</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="3">Нет категорий</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
