<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз доходов</title>
</head>
<body>
    <h1>Прогноз доходов</h1>

    <h2>Прогноз на следующий день:</h2>
    <p>Прогнозируемая сумма доходов: {{ forecast_day }} (на основе текущих данных)</p>

    <h2>Прогноз на следующий месяц:</h2>
    <p>Прогнозируемая сумма доходов через 30 дней: {{ forecast_month }} (на основе текущих данных)</p>

</body>
</html>
