{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Style/Login.css' %}">
{% endblock %}

{% block title %}Вход — AFINA{% endblock %}

{% block content %}
<section class="auth-wrap">
  <div class="auth-card">
    <h1 class="auth-title">Вход в систему</h1>

    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-primary">Войти</button>
    </form>

    <p class="auth-note">
      Нет аккаунта?
      <a href="{% url 'register' %}">Зарегистрироваться</a>
    </p>
  </div>
</section>
{% endblock %}

