{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Style/Register.css' %}">
{% endblock %}

{% block title %}Регистрация — AFINA{% endblock %}

{% block content %}
<section class="auth-wrap">
  <div class="auth-card">
    <h1 class="auth-title">Регистрация</h1>

    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-primary">Создать аккаунт</button>
    </form>

    <p class="auth-note">
      Уже есть аккаунт?
      <a href="{% url 'login' %}">Войти</a>
    </p>
  </div>
</section>
{% endblock %}
